<div class="col-lg-12">
  <h1>Welcome to Chat</h1>
  <hr>
  <br>
  <div class="row">
    <div class="col-lg-2">
      <ContactList :username="username" />
    </div>
    <div class="col-lg-10">
      <ChatScreen :username="username" />
      <ChatInput :username="username" />
    </div>
  </div>
  <!-- Modal Component -->
  <b-modal v-model="modalShow" id="promptUserName" ref="usernameModal" title="Choose a username" @ok="setUserName">
    <p class="my-4">
      <input class="username-input" v-model="choosenName" type="text" name="username" value="" placeholder="Insert your username..">
    </p>
  </b-modal>
</div>
