.chat-screen {
  background: #313740;
  border-radius: 3px;
  height: 70vh;
  padding: 30px;
  color: #fff;
  font-family: helvetica;
  font-size: 20px;
  overflow-y: auto;
  padding-bottom: 100px;
}

.message-time {
  position: relative;
  top: -16px;
  left: 59px;
  font-size: 11px;
}

.message {
  padding: 10px;
}

.avatar {
  background: #fff;
  height: 45px;
  border-radius: 50px;
}
