<div class="chat-screen text-left">
  <div class="message">
    <img class="avatar" src="../../assets/avatar.png" alt="avatar"> &nbsp;
    <span>username1 says:</span>&nbsp;<span>Hello dude!</span>
    <br>
    <span class="message-time">( 4 minutes ago )</span>
  </div>

  <div class="message">
    <img class="avatar" src="../../assets/avatar.png" alt="avatar"> &nbsp;
    <span>username2 says:</span>&nbsp;<span>What's up..</span>
    <br>
    <span class="message-time">( 3 minutes ago )</span>
  </div>
</div>
